
@{
    // Layout = null;
    ViewBag.Title = "Home";
}


    <div> 
        <h2>Welcome</h2>
        <hr />
        <p>Hello my dude nice meeting you, we are having a party!</p>
        <p>Please @Html.ActionLink("PSVP here","RSVP")</p>
    </div>

